<%- include('../includes/header', { title: 'Edit Trainer' }) %>

<div class="form-container">
    <h1 class="form-title">Edit Trainer</h1>
    <form action="/admin/editTrainer/<%= trainer._id %>" method="POST" enctype="multipart/form-data" class="form-content">
        <div class="form-group">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" name="name" class="form-input" value="<%= trainer.name %>" required>
        </div>
        <div class="form-group">
            <label for="specialty" class="form-label">Specialty:</label>
            <input type="text" id="specialty" name="specialty" class="form-input" value="<%= trainer.specialty %>" required>
        </div>
        <div class="form-group">
            <label for="bio" class="form-label">Bio:</label>
            <textarea id="bio" name="bio" class="form-input" required><%= trainer.bio %></textarea>
        </div>
        <div class="form-group">
            <label for="photo" class="form-label">Photo:</label>
            <input type="file" id="photo" name="photo" class="form-input">
        </div>
        <button type="submit" class="form-btn">Update Trainer</button>
    </form>
</div>

<%- include('../includes/footer') %>
