
<%- include('../includes/header', { title: 'Trainers' }) %>

<main>
    <div class="container">
        <h1>Meet Our Trainers</h1>
        <div class="trainers">
            <% if (trainers.length > 0) { %>
                <% trainers.forEach(trainer => { %>
                    <div class="trainer">
                        <img src="<%= trainer.photo %>" alt="<%= trainer.name %>">
                        <h2><%= trainer.name %></h2>
                        <p><%= trainer.specialty %></p>
                        <p><%= trainer.bio %></p>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No trainers available at the moment.</p>
            <% } %>
        </div>
    </div>
</main>

<%- include('../includes/footer') %>
